{% extends 'base.html' %}
{% block content %}

	<div class="container-fluid">
		<div class="row" style="background-color:#343a40; color: #fff; border: 1px solid white" >
			<div class="col-md-2"><p class="font-weight-bold">Что купить</p></div>
			<div class="col-sm"><p class="font-weight-bold">Кому</p></div>
            <div class="col-sm"><p class="font-weight-bold">Email</p></div>
			<div class="col-sm"><p class="font-weight-bold">Оплачено BYN</p></div>
			<div class="col-sm"><p class="font-weight-bold">Комментарий</p></div>
			<div class="col-sm"></div>
			<div class="col-sm"></div>
		</div>
		{% for order in orders %}
            <script>
                'use strict'
                $(document).ready(function () {

                    $('#{{ order.slug }}').click(function () {
                        $(this).hide();
                        $('div#{{ order.slug }}').show();
                    })
                });
            </script>
			<div class="row" style="display: none">
				<div class="col-sm" hidden="true" style="display: none;"></div>
				<div class="col-md-2">{{ order.order_item }}</div>
				<div class="col-sm">{{ order.author.username }}</div>
                <div class="col-sm">{{ order.author.email }}</div>
				<div class="col-sm">{{ order.cost }}</div>
				<div class="col-sm">{{ order.comment }}</div>
				<div class="col-sm">
					<button type="submit" name="action" value="Update" class="btn btn-secondary" id="{{ order.slug }}">Редактировать
					</button>
	            </div>
	            <div class="col-sm"></div>
			</div>
			<form method="post">{% csrf_token %}
				<div class="row" style="border: 1px solid white;" id="{{ order.slug }}">
					<div class="col-sm" hidden="true">
						<input name="slug" contenteditable="false" value="{{ order.slug }}" class="form-control">
					</div>
					<div class="col-sm">
						<input name="order_item" contenteditable="true" value="{{ order.order_item }}" class="form-control">
					</div>
				    <div class="col-sm">
						<input contenteditable="false" value="{{ order.author.username }}" class="form-control" readonly>
					</div>
                    <div class="col-sm">
						<input contenteditable="false" value="{{ order.author.email }}" class="form-control" readonly>
					</div>
					<div class="col-sm">
						<input name="cost" contenteditable="true" value="{{ order.cost }}" class="form-control">
					</div>
					<div class="col-sm">
						<input name="comment" contenteditable="true" value="{{ order.comment }}" class="form-control">
					</div>
					<div class="col-sm">
						<button type="submit" name="action" value="Update" class="btn btn-secondary">Редактировать
						</button>
					</div>
					<div class="col-sm">
						<button type="submit" name="action" value="Delete" class="btn btn-danger">Удалить</button>
					</div>
				</div>
			</form>


			{% endfor %}
    <br>
			<div class="row">
                <div class="col-sm"><p class="font-weight-bold">Итого (BYN)</p></div>
				<div class="col-sm"><p class="font-weight-bold">{{ total_cost }}</p></div>
				<div class="col-sm"></div>
				<div class="col-sm"></div>
				<div class="col-sm"></div>
				<div class="col-sm"></div>
			</div>
	</div>

{% endblock content %}