{% extends 'base.html' %}
{% block content %}
    <form class="needs-validation" novalidate method="POST">
        {% csrf_token %}
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ labels.order_item }}</th>
                <th scope="col">{{ labels.cost }}</th>
                <th scope="col">{{ labels.comment }}</th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <th scope="row"></th>
                <td>{{ form.order_item }} {{ form.order_item.errors }}<div class="invalid-feedback">Required field</div></td>
                <td>{{ form.cost }}<div class="invalid-feedback">Required field, more than 0.00</div></td>
                <td>{{ form.comment }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>

        </table>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock %}